<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="/static/js/element-ui/lib/theme-chalk/index.css" >
    <link rel="stylesheet" type="text/css"  href="/static/css/public.css" >
    <link rel="stylesheet" type="text/css"  href="/static/css/user.css" >
    <script type="text/javascript" src="/static/js/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="box">
        <div class="login-wrap">
            <div class="ms-title">后台管理系统</div>
            <div class="ms-login">
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="0px" class="demo-ruleForm">
                    <el-form-item prop="username">
                        <el-input v-model="ruleForm.username" placeholder="username"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" placeholder="password" v-model="ruleForm.password" @keyup.enter.native="submitForm('ruleForm')"></el-input>
                    </el-form-item>
                    <div class="login-btn">
                        <el-button type="primary" @click="loginForm('ruleForm')">登录</el-button>
                    </div>
                   <a class="registerlogin" href="register-index"><i class="iconfont el-icon-icfont-diannao1 mr5">请注册</i></a>
                </el-form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/ajax.js"></script>
    <script type="text/javascript" src="/static/js/user.js"></script>
</body>
</html>