#box{
    background:#000;
    height: 100vh;
    width: 100%;
    position: relative;
}
.login-wrap {
	position: absolute;
    width: 100%;
    top: 20%;
}

.ms-title {
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.ms-login {
    width: 300px;
    height: 160px;
    margin: auto;
    padding: 40px;
    border-radius: 5px;
    background: #fff;
}

.login-btn {
	text-align: center;
}

.login-btn button {
	width: 100%;
	height: 36px;
}

.registerlogin {
	float: right;
	margin-top: 10px;
}